.navbarContent * {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-text);
    text-decoration: none;
  }
  
.navbarContent a:hover {
    text-decoration: none;
  }

.navbar {
    opacity: 1;
    background-color: white;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}