#quizTitle {
    font-size: 38px;
    font-family: "Raleway";
    font-weight: 600;
    line-height: 44.61px;
    color: var(--brand-primary);
    letter-spacing: 1px;
    text-align: center;
  }
  
  #quizSubtitle {
    font-size: 20px;
    font-family: "Raleway";
    font-weight: 400;
    line-height: 23px;
    color: var(--secondary-text);
    letter-spacing: 0.25px;
    text-align: center;
  }