.card {
    background-color: var(--brand-light-blue);
    height: 300px;
    width: min(515px, 100%);
}

.cardHeader {
    margin-top: 20px;
}
.cardHeaderText {
    font-family: 'Raleway';
    font-size: 23px;
    font-weight: 600;
    line-height: 27px;
    color: #6F6D6D;
    margin-left: 20px; 
    width: 80%;
}

.cardBody {
    padding-top: 0;
}

.cardSummary {
    font-family: 'Raleway';
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    color: var(--secondary-text);
    margin-left: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.cardFooter {
    min-height: 20%;
}
.cardFooterText {
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 700;
    color: #191E3E;
    margin-right: 20px;
    margin-left: 10px;
}
