.listLayout {
    background-color: white;
}

.gridLayout {
    height: 230px;
    width: 30%;
    margin-right: 2%;
    margin-bottom: 2%;
}

/* .gridLayout:hover {
    position: absolute;
    z-index: 10;
    max-width: fit-content;
} */