.continue,
.back {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
}

.continue {
  color: var(--brand-primary);
}

.back {
  color: var(--secondary-text);
}

.submit {
  border: none;
  background-color: var(--brand-primary);
  padding: 10px 30px;
  outline: none;
  color: white;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.continue:hover,
.submit:hover,
.back:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.errorMessage {
  font-family: "Raleway";
  font-weight: 500;
  color: red;
  margin-top: 2px;
  margin-bottom: 5px;
}

.quizFieldText {
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 35px;
  color: var(--secondary-text);
  letter-spacing: 0.25px;
}

.categoryText {
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 35px;
  color: var(--primary-text);
  letter-spacing: 0.25px;
  margin-left: 60px;
}

.checkboxItem {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.select {
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 500;
  color: var(--secondary-text);
  padding: 8px;
}

.familySelect {
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 500;
  color: var(--secondary-text);
  padding: 8px;
}

.ageInput {
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 500;
  color: var(--secondary-text);
  padding: 8px;
}
.container {
  padding: 0 2rem;
}

.checkbox {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
/*
max-width: min-content;
*/
