
.backButton {
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
    color: var(--secondary-text);
    text-decoration: none;
}

.backButton:hover {
    text-decoration: none;

}

.container {
    padding: 0 2rem;
  }

.container h1, .container h2 {
    color: var(--brand-primary)
}

.container h2 {
    text-align: center;
}
.subtitle {
    color: var(--secondary-text)
}