.container {
    margin: "0 20px";
    align-items: center;
    padding: 0% 20%;
}

.container h1 {
    text-align: center;
    color: var(--brand-primary);
}

.container h2, .container p{
    color: var(--secondary-text);
}