
.cardFooter {
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 700;
    color: #191E3E;
    margin-right: 20px;
    margin-left: 10px;
}

.cardHeader {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
    color: #6F6D6D;
    margin-left: 20px; 
}

.cardSummary {
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    color: var(--secondary-text);
    margin-left: 20px;
}

/* TODO: need to change the dimension-setting CSS for the banners to make responsive */
.sidebarBanner {
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #219EA4;
    width: 283px;
    height: 48px;
    padding-left: 16px;
    padding-top: 12px;
    letter-spacing: 1px;
}

.sidebarSubCategory {
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    margin-left: 36px;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
}

.sidebarCheckboxGroup {
    margin-left: 60px;
    margin-bottom: 30px;
}

.sidebarCheckboxText {
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.25px;
}

.sidebarInputBox {
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-left: 60px;
    margin-bottom: 30px;
    width: 150px;
}
