:root {
  --brand-primary: #219EA4;
  --primary-text: black;
  --secondary-text: #7E7C7C;
  --brand-blue: #22A6DD;
  --brand-purple: #630DF0;
  --brand-orange: #F0880D;
  --brand-green: #55C130;
  --brand-light-blue: #F4F8FA;
}

html,
body {
  padding: 0;
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--brand-primary);
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

.homepage-title {
  font-size: 45px;
  font-family: 'Raleway';
  font-weight: 600;
  line-height: 53px;
  color: var(--secondary-text);
  letter-spacing: 1px;
}

.homepage-subtitle {
  font-size: 30px;
  font-family: 'Raleway';
  font-weight: 400;
  line-height: 41px;
  color: var(--secondary-text);
  letter-spacing: 0.5px;
}

.homepage-button {
  background-color: var(--brand-primary);

  width: 307px;
  height: 66px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.homepage-button a {
  font-size: 30px;
  font-family: 'Raleway';
  font-weight: 700;
  color: white;
}

.navbar-content {
  font-family: 'Raleway';
  font-size: 25px;
  font-weight: 600;
  color: var(--secondary-text);
}

h1 {
  font-family: 'Raleway';
  font-size: 35px;
  font-weight: 600;
  color: black;
}

.table-content {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-text) !important;
}

table {
  max-width: 800px;
  width: 90%;
  border-collapse: collapse;
  text-align: center;
}

td {
  border: 0.75px solid var(--secondary-text);
  padding: 40px 0px;
}


input[type="checkbox"] ~ label {
  padding-left: 1.4em;
  display: inline-block;
}

input[type="checkbox"] {
  position: absolute;
}
