:root {
  --brand-primary: #219EA4;
  --primary-text: black;
  --secondary-text: #7E7C7C;
  --brand-blue: #22A6DD;
  --brand-purple: #630DF0;
  --brand-orange: #F0880D;
  --brand-green: #55C130;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--brand-primary);
}